Flow5
[
    {
        "id": "46cb2d40.096104",
        "type": "tab",
        "label": "Flow 5",
        "disabled": false,
        "info": ""
    },
    {
        "id": "bd7599b9.99ae58",
        "type": "http in",
        "z": "46cb2d40.096104",
        "name": "Set GPIO5",
        "url": "/setgpio5",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 80,
        "y": 200,
        "wires": [
            [
                "fbdab2c.dbb115",
                "1e239ea3.cd5331"
            ]
        ]
    },
    {
        "id": "fbdab2c.dbb115",
        "type": "function",
        "z": "46cb2d40.096104",
        "name": "Set to 1",
        "func": "msg.payload = 1;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 200,
        "y": 320,
        "wires": [
            [
                "53c0d89c.a45668"
            ]
        ]
    },
    {
        "id": "53c0d89c.a45668",
        "type": "rpi-gpio out",
        "z": "46cb2d40.096104",
        "name": "",
        "pin": "11",
        "set": "",
        "level": "0",
        "freq": "",
        "out": "out",
        "x": 480,
        "y": 380,
        "wires": []
    },
    {
        "id": "1e239ea3.cd5331",
        "type": "function",
        "z": "46cb2d40.096104",
        "name": "Return Status",
        "func": "msg.payload=\"GPIO5 set to HIGH\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 320,
        "y": 220,
        "wires": [
            [
                "e45195e4.2b6818",
                "a9af0a61.8cc278"
            ]
        ]
    },
    {
        "id": "e45195e4.2b6818",
        "type": "http response",
        "z": "46cb2d40.096104",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 690,
        "y": 220,
        "wires": []
    },
    {
        "id": "a9af0a61.8cc278",
        "type": "debug",
        "z": "46cb2d40.096104",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 690,
        "y": 360,
        "wires": []
    },
    {
        "id": "845f1223.65b3e",
        "type": "http in",
        "z": "46cb2d40.096104",
        "name": "Clear GPIO5",
        "url": "/clear5",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 480,
        "wires": [
            [
                "4a9700d0.da0c7",
                "9cbbbee6.848b3"
            ]
        ]
    },
    {
        "id": "4a9700d0.da0c7",
        "type": "function",
        "z": "46cb2d40.096104",
        "name": "Clear to 0",
        "func": "msg.payload=0;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 300,
        "y": 460,
        "wires": [
            [
                "53c0d89c.a45668"
            ]
        ]
    },
    {
        "id": "9cbbbee6.848b3",
        "type": "function",
        "z": "46cb2d40.096104",
        "name": "Return Status",
        "func": "msg.payload=\"GPIO5 set to LOW \";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 370,
        "y": 560,
        "wires": [
            [
                "e45195e4.2b6818",
                "a9af0a61.8cc278"
            ]
        ]
    }
]
